<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_object.name }}</h1>
            <p><a href="{% url 'todo_list_update' list_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>

            <h2>Tasks</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_object.items.all %}
                <tr>
                    <td><a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
